.status {
  font-size: 13px;
}

.status.online {
  color: green;
}

.status.offline {
  color: red;
}
.card {
  border: solid 2px black;
  border-radius: 5px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 2px;
  text-align: center;
}
